!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %title Page Title
    %link{href: "assets/stylesheets/application.css", rel: "stylesheet", type: "text/css"}

  %body
    .delete-me
      .container
        %h1 Proteus
        %p
          You're all set!
          <a href="http://github.com/thoughtbot/proteus-node">Let's get started</a>
          building your prototype.

    %script{src: "https://code.jquery.com/jquery-2.1.1.min.js", type: "text/javascript"}
    %script{src: "assets/javascripts/application.js", type: "text/javascript"}
